body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: azure;
}
.elemento{
    background-color: blue;
    width: 150px;
    height: 150px;
    transition: background-color 2.5s ease, height 3s ease, width 3s ease, transform 2s ease;
    transform-origin: center center;
}
.elemento:hover{
    background-color: rgb(236, 14, 14);
    height: 300px;
    width: 300px;
    transform: rotate(180deg);
}